/* --- Narrow Jumbotron Styles Go Here --- */

.peg {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid #937e62;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    color: white;
}
.r {
    background-color: #d9534f;
    border-color: #c9302c;
}
.g {
    background-color: #5cb85c;
    border-color: #449d44;
}
.y {
    background-color: #fef049;
    border-color: #ffd663;
}
a{
    color: aquamarine;
    text-decoration: none;
  text-transform: uppercase;
}
.jumbotron{
    font-size: 21px;
}
.myBackground{
    background-image: url("/img/space_256.png");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}
.myText{
    color: white;
    a:link
}
