a{
    color: aquamarine;
    text-decoration: none;
  text-transform: uppercase;
}
.jumbotron{
    font-size: 21px;
}
.myBackground{
    background-image: url("/img/space_256.png");
    background-repeat: repeat;
}
.myText{
    color: white;
    font-size: large;
}
.button {
    font: bold 11px Arial,Sans-serif;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
.wrapper {
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}
.justify-content-center{
    justify-content: center;
}
.masthead-brand{
    color:black;
    font-style: bold;
}
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
}

main {
    flex-grow: 4;
    flex-wrap: wrap;

}

footer {
    height: 25px;
}
ul.pull-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline;
  }
  
  li.pull-right {
    float: left;
  }
  
  li.pull-right a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }